.highcharts-tooltip {
  span[data-z-index] {
    padding: .4em .8em;
  }
}

.tooltip {
  display: flex;
  flex-direction: column;
}

.series {
  font-size: .8em;
}

.profile {
  display: flex;
  flex-direction: row;
  > .value {
    margin-left: 1em;
  }
}

.list {
  display: flex;
  flex-direction: column;
}

.pinfo {
  display: flex;
  flex-direction: row;
  font-size: .8em;
  > .pname {
    min-width: 3em;
  }
  > .city, > .school {
    margin-left: .6em;
  }
}